#projects {
  .wrap {
    padding-top: 1em;
    border-top: 1px solid $border;
  }

  .btn-wrap {
    display: flex;
    gap: 10px;
    margin-bottom: 1em;
  }

  .projects-btn {
    @extend %btn;

    &.active {
      color: $green-light;
      border-color: $green-light;
    }
  }

  .content-block {
    display: none;

    &.active {
      display: block;
    }
  }

  a {
    &.figma {
      cursor: default;

      &:hover {
        color: $text-color;
      }
    }
  }

  table {
    width: 100%;

    td {
      vertical-align: top;

      &:first-child {
        width: 150px;
      }
    }


  }
}
