#terminal {
  .terminal__cash {
    border: 1px solid $border;
    padding: 10px;
    width: max-content;
    box-sizing: border-box;

    & > div {
      border-bottom: 1px solid $border;
    }

    &-btn-wrap-wrap {
      display: flex;
      justify-content: space-between;
      gap: 60px;
    }

    &-btn-wrap {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;

      div {
        font-size: 18px;
        @extend %btn;
      }
    }

    &-res {
      margin: 15px 0;
    }
  }
}