#terminal {
  .terminal__cash {
    border: 1px solid $border;
    padding: 10px;
    width: max-content;
    box-sizing: border-box;
    min-width: 960px;

    & > div {
      border-bottom: 1px solid $border;
    }

    &-btn-wrap-wrap {
      display: flex;
      justify-content: space-between;
      gap: 60px;
    }

    &-btn-wrap {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
    }

    &-res {
      margin: 15px 0;
    }
  }

  #add-project-input,
  #remove-project-input {
    @extend %input;
    width: 170px;
  }

  #add-project-btn,
  #remove-project-btn {
    @extend %btn;
    background-color: $green;

     &:hover {
       background-color: darken($green, 5%);
     }
  }

  .terminal__cash-btn-projqct {
    @extend %btn;
  }

  #projects-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .wrap-res {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}