$text-color: #cecdcd;
$border: #d3d1d1;
$bg: #424242;
$btn-color: #800080;
$color-pink: #ac5eac;
$color-blue: #879ff8;
$green: #2c782c;
$green-light: #36d536;

%btn {
  background-color: $btn-color;
  padding: 5px 10px;
  border: 1px solid $text-color;
  border-radius: 8px;
  text-decoration: none;
  color: $text-color;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    background-color: darken($btn-color, 5%);
    color: $text-color;
  }
  &:active {
    background-color: darken($btn-color, 15%);
  }
}

%link {
  color: $text-color;
  text-decoration: none;
  transition: all .2s;

  &:hover {
    color: $color-blue;
  }
}

%input {
  border: 1px solid $border;
  border-radius: 8px;
  background-color: $bg;
  color: $text-color;
  outline: none;
  padding: 5px 10px;
}